* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-base;
  color: $text;
  line-height: 1.6;
}

h1,h2,h3 {
  font-family: $font-heading;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
}

a {
  text-decoration: none;
  color: inherit;
}
